@import url('https://fonts.googleapis.com/css2?family=Asimovian&family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

header {
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
}

nav {
    display: flex;
    justify-content: space-between;
}

.nav-title i{
    display: none;
}

nav ul {
    display: flex;
    gap: 1rem;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 0.8rem;
    font-weight: bold;
}

.banner{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    gap: 3rem;
}
.banner-discription{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 20px;
}
.banner-discription button{
    padding: 10px 20px;
    background-color: #E02C6D;
    color: white;
    border-radius: 25px;
    border: none;
}


@media screen and (max-width: 576px) {
    header {
        width: 100%;
    }

    nav {
        flex-direction: column;
    }

    nav ul li a {
        display: none;
    }
    .nav-title i{
        display: inline;
    }
    .nav-title{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .banner{
        flex-direction: column;
        flex-direction: column-reverse;
    }
    .banner-discription{
        align-items: center;
        text-align: center;
    }
    br{
        display: none;
    }
}