@import url('https://fonts.googleapis.com/css2?family=Asimovian&family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
/* header section */
header {
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
}

nav {
    display: flex;
    justify-content: space-between;
}

.nav-title i{
    display: none;
}

nav ul {
    display: flex;
    gap: 1rem;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 0.8rem;
    font-weight: bold;
}

.banner{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    gap: 3rem;
}
.banner-discription{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 20px;
}
.banner-discription button{
    padding: 10px 20px;
    background-color: #E02C6D;
    color: white;
    border-radius: 25px;
    border: none;
}
.banner-img{
    background-image: url("../images/Circle\ design.svg");
}

/* logo section style */
main{
    width: 60%;
    margin: 0 auto;
    margin-top: 50px;
}
.logo{
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(218, 217, 217);
    margin-bottom: 50px;
}

.Collection h1{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 30px;
}

.collection-itmes{
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 30px;
}

.collection-itmes div{
    height: 340px;
    width: 210px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding-left: 10px;
    box-shadow: 1px 2px 2px 3px gainsboro;
}
.collection-itmes p{
    font-size: 0.9rem;
    color: gray;
}


 span{
    color: #E02C6D;
    background-color: white;
    font-size: 0.8rem;
    font-weight: bold;
}

.end{
    width: 80%;
    margin: 0 auto;
 display: flex;
 justify-content: space-between;
 margin-top: 70px;
 gap: 3rem;
}
.end .discription{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 10px;
}

.end .discription button{
    padding: 10px 20px;
    background-color: #E02C6D;
    color: white;
    border: none;
    border-radius: 5px;
}

.foot{
    width: 100%;
    height: 200px;
    background-color: #1c1c1d;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    margin-top: 30px;
}

@media screen and (max-width: 576px) {
    header {
        width: 100%;
    }

    nav {
        flex-direction: column;
    }

    nav ul li a {
        display: none;
    }
    .nav-title i{
        display: inline;
    }
    .nav-title{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .banner{
        flex-direction: column;
        flex-direction: column-reverse;
    }
    .banner-discription{
        align-items: center;
        text-align: center;
    }
    br{
        display: none;
    }
    .logo{
        width: auto;
        margin: 0 auto;
        flex-wrap: wrap;
        gap: 10px;
    }
    .banner{
        gap: 0;
    }
    .collection-itmes{
        grid-template-columns: 1fr;
    }
    .end{
        flex-direction: column-reverse;
        width: 100%;
        margin: 0 auto;
    }
    .end .discription{
        align-items: center;
    }
}